# Political Sentiment Intelligence Dashboard

# Core Data Science
numpy>=1.26
pandas
scipy

# Machine Learning
scikit-learn
joblib

# NLP
nltk
wordcloud

# Explainability
shap

# Visualization
matplotlib
seaborn
altair==4.2.2

# Web Dashboard
streamlit

# Twitter API
tweepy