# Core
numpy>=1.26
pandas
scipy

# Machine Learning
scikit-learn
joblib

# NLP
nltk
wordcloud

# Explainability
shap

# Visualization
matplotlib
seaborn
altair==4.2.2

# Dashboard
streamlit>=1.33

# Twitter API
tweepy