# Political Sentiment Intelligence Dashboard

# Core Data Science
numpy>=1.26
pandas>=2.2
scipy

# Machine Learning
scikit-learn>=1.4
joblib

# NLP & Text Processing
nltk
wordcloud

# Explainability
shap

# Visualization
matplotlib
seaborn

# Web Dashboard
streamlit

# Twitter API
tweepy